* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 221, 217);
    font-family: montserrat;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #214566;
    height: 80px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

label.logo {
    color: rgb(248, 240, 230);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 30px;
    display: inline-block;
    padding-right: 20px;
    font-weight: bold;
    position: -webkit-sticky;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
color: white;
font-size: 17px;
text-transform: uppercase;
padding: 7px 13px;
border-radius: 3px;
}

a.active,a:hover {
    background: #2f7bb6;
    transition: .5s;
}

.title {
    color: steelblue;
    font-size: 30px;
    text-align: center;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: #214566;
        color: #cacaca;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    background-color: #2f7bb6;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #000000;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.active:hover {
    background-color: #2c3e50;
    border-right: groove;
    border-color: #2c3e50
}
section{
    background-color: aliceblue;
}

.intro {
    background-color: #a7d691;
    margin: 20px 20px;
    text-align: left;
    padding: 25px 25px;
    border-radius: 15px;
    font-size: 25px;
}

.about {
    background-color: #a7d691;
    margin: 20px;
    padding: 30px;
    text-align: center;
    vertical-align: top;
}


.about.p:hover {
 cursor: text;
}

.bottom {

    height: 200px;
    border-color: aqua;
    position: relative;
}
